@page "/"

@using BlazorPiratesGrid.Data
@using PirateApp.Domain;
@inject PirateBlazorService pirateservice

<div class="marTopBot">
    <h2>Pokaż Piratów</h2>
</div>

@if (pirates == null)
{
    <p><em>Wczytywanie...</em></p>
}
else
{
    <p>
        <a href="/pirateedit/0">Dodaj Pirata</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>Imie</th>
                <th>Nazwa Statku</th>
                <th>Nazwa Załogi</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var pirate in pirates)
            {
                <tr>
                    <td>@pirate.Name</td>
                    <td>@pirate.Ship.Name</td>
                    <td>@pirate.Crew.CrewName</td>
                    <td>
                        <a href="@($"pirateedit/{pirate.Id}")"
                           class="btn btn-primary table-btn">
                            Edytuj
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Pirate> pirates;

    protected override async Task OnInitializedAsync()
    {
        pirates = await pirateservice.GetPirates();
    }
}
